.container {
  width: 25vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  color: #ffd600;
  gap: 20px;
  border-radius: 20px;
  background-color: #ffffff4a;
  margin-top: 20px;
  transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
  position: relative;
}

.popout {
  animation: pop-out 1s 1;
}

.inner {
  padding-left: 1em;
}

.innerTitle {
  padding-top: 20px;
  width: clamp(10em, 10vw, 15em);
}

.innerDesc {
  width: 85%;
  word-wrap: break-word;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.tech {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

h2 {
  font-size: clamp(1rem, 5vw, 2rem);
  color: rgba(252, 252, 252, 0.589);
}

h3 {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}

p {
  font-size: 1vw;
}

.container:hover {
  color: #2a2626;
  background-color: #ffd600;
  transform: translate3d(15px, 15px, 15px);
  z-index: 1;
  backdrop-filter: blur(5px);
  border: none;
  box-shadow: -15px -15px #6a6868;
}

.container:hover > h2 {
  color: #2a2626;
}

@media only screen and (max-width: 1090px) {
  .container {
    width: 70vw;
  }
}

@keyframes pop-out {
  0% {
    transform: scale(0);
  }
  50% {
    transfrom: scale(0.5);
  }
  100% {
    transfrom: scale(1);
  }
}
