.about-super-outer{
    height:100vh;
}

.about-outer{
    background-color: rgb(28, 33, 37);
    font-size:clamp(3rem,4vw,6rem);
    width:100vw;
    height: calc(70vh);
    display:flex;
    align-items: center;
    flex-direction: column;
}

.about-inner{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.about-name{
    color:#ff0862;
    padding-top:50px;
    font-size:clamp(5rem,7vw,10rem);
}

.about-para{
    color:whitesmoke;
    font-size:clamp(1.6rem,2.5vw,3rem);
    padding-top:20px;
}