@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");

.all {
  width: 99vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 33, 37);
  font-family: "JetBrains Mono", monospace;
}