.projects{
    background-color:rgb(42, 38, 38);
    padding-bottom:100px;
}

.projectItem{
    background-color:rgb(42, 38, 38);
    position:absolute;
    width:100%;
    height: auto;
    display:grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: center;
    grid-gap:30px;
    padding-top:30px;
    padding-bottom:200px;
}


@media only screen and (max-width: 1090px) {
    .projectItem{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}