.skills-outer{
    background-color: rgb(42, 38, 38);
    height:auto;
    display:grid;
    grid-template-columns: 12vw 12vw 12vw 12vw;
    justify-content: center;
    grid-gap:5vw;
    padding:150px;
}

@media only screen and (max-width: 1090px) {
    .skills-outer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:70px;
    }
}