@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");

.container {
  height: clamp(2rem, 20vw, 10rem);
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  border-bottom: 4px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transition: transform 0.5s;
  font-size: clamp(1.3rem, 3vw, 3rem);
}

.back a {
  text-decoration: none;
  color: rgb(42, 38, 38);
}
.title {
  font-size: clamp(2rem, 5vw, 5rem);
  margin-left: 20px;
  font-weight: bold;
}

.back:hover {
  transform: translateX(-40px);
}
