@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

.header{
    height: clamp(2rem, 20vw, 10rem);
    display:flex;
    justify-content: center;
}

.header_inner{
    width:100%;
    border-bottom:4px solid whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header_title{
    font-size: clamp(3rem, 5vw, 5rem); 
    margin-left:20px;
    font-weight: bold;
}

.header_home{
    font-size:clamp(1.3rem, 3vw, 3rem); 
    text-decoration: none;
    color:rgb(42, 38, 38);
}

.home-outer{
    transition: transform 0.5s;
}

.home-outer:hover{
    transform: translateX(-40px);
}