.nav {
  color: whitesmoke;
  display: flex;
  /* width: 100vw; */
  height: auto;
  /* height:50vh; */
  justify-content: center;
}

.title {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(103, 101, 101);
  text-decoration: none;
  border-radius: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48vw;
}

.top {
  font-size: clamp(2em, 10vw, 12em);
  width: 100%;
  transition: width 0.2s, font-size 0.3s, background-color 0.5s;
}

.bottom {
  font-size: 10vw;
  width: 75%;
  transition: width 0.2s, font-size 0.3s, background-color 0.5s;
  transform: rotateZ(180deg);
}

.left {
  width: 5vw;
  height: 5vw;
  transition: font-size 0.2s;
  transform: rotateZ(-90deg);
}

.right {
  width: 5vw;
  height: 5vw;
  transition: font-size 0.2s;
  transform: rotateZ(90deg);
}

.side {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 18vw;
}

.less-than {
  font-size: 30vw;
  width: 13vw;
}

.greater-than {
  font-size: 30vw;
  width: 13vw;
}

.sign {
  display: flex;
  justify-content: center;
}

.middle_o {
  margin: 1vw;
}

.title:hover {
  z-index: 1;
}

.top:hover {
  font-size: 12vw;
  border-radius: 20px;
  color: #ffd600;
}

.bottom:hover {
  font-size: 12vw;
  border-radius: 20px;
  color: #4903fc;
}

.left:hover {
  font-size: 7vw;
  color: #ac00fc;
}

.right:hover {
  font-size: 7vw;
  color: #ff0862;
}

@media only screen and (max-width:1300px){

}

@keyframes enlarge1 {
  0% {
    width: 0px;
  }

  100% {
    width: 60vw;
  }
}

@keyframes enlarge2 {
  0% {
    width: 0px;
  }

  100% {
    width: 45vw;
  }
}
