@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap");

.home-all {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(28, 33, 37);
  color: whitesmoke;
  font-family: "JetBrains Mono", monospace;
}

.handle {
  font-size: 10vw;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 45px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_latter {
  font-size: 2vw;
  border-left: 20px solid rgb(28, 33, 37);
  color: rgb(255, 221, 0);
}

.about_initial {
  font-size: 2vw;
}

.next {
  color: white;
  position: absolute;
  top: 90vh;
}

.btn {
  font-size: 1vw;
  height: 5vh;
  width: 6vw;
  background-color: rgb(28, 33, 37);
  color: rgb(255, 251, 0);
  border: 3px solid white;
  border-radius: 8px;
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  .home-all {
    height: 60vh;
  }
  .about {
    margin-top: 7vh;
  }
  .about_initial {
    font-size: 4vw;
  }
  .about_latter {
    font-size: 4vw;
  }
}
