.container {
  background-color: rgb(28, 33, 37);
}

.item {
  background-color: rgb(28, 33, 37);
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, 25vw);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 30px;
  padding-top: 30px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 1090px) {
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
