.container {
  width: 100%;
  background-color: rgb(28, 33, 37);
  flex-direction: column;
}

.skills {
  min-height: 200vh;
  margin: auto;
  display: grid;
  width: 65%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
